.answer {
    width: 65px; 
    height: 65px;
    border: 1px solid rgb(183, 49, 49);
    border-radius: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-contesddsfnt: center;
    cursor: pointer;
}